<header>
    <nav class="navbar navbar-expand-lg navbar-light">
        <a class="navbar-brand"></a>
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="http://localhost:8080/nuevo">Nuevo Producto</a>
                <a class="nav-link" href="http://localhost:8080/logout">Logout</a>
                <a class="nav-link" href="http://localhost:8080/api/carrito">Carrito</a>
            </li>
        </ul>
    </nav>
</header>