<div class="container">
    <h2>Central de Mensajes</h2>
    <form onsubmit="return addMessage(this)">
        <input type="text" placeholder="correo electronico" id="email" required>
        <input type="text" placeholder="Mensaje" id="mensaje">
        <button type="submit">Enviar</button>
    </form>
    <div id="mensajes"></div>
</div>