<div class="container">
    <h2 id="titulo">Central de Mensajes</h2>
    <form onsubmit="return addMessage(this)">
        <input type="text" placeholder="correo electronico" id="email" required>
        <input type="text" placeholder="Nombre" id="nombre">
        <input type="text" placeholder="Apellido" id="apellido">
        <input type="text" placeholder="edad" id="edad">
        <input type="text" placeholder="alias" id="alias">
        <input type="text" placeholder="Avatar" id="avatar">
        <input type="text" placeholder="Mensaje" id="mensaje">
        <button type="submit">Enviar</button>
    </form>
    <div id="mensajes"></div>
</div>