<div class="container flex" >
    <h1>Error {{error_message}}</h1>
    <button type="botton" class="btn btn-secondary" id="registrar" onclick="location.href='http://localhost:8080/login'">Ir a Inicio</button>
</div>