<div class="container flex">
    <h1>Hasta luego {{username}}</h1>
</div>

<script type="text/javascript">
   //Redireccionamiento tras 2 segundos
   setTimeout( function() { location.href='http://localhost:8080/' }, 2000 );
</script>