<div>
    <h2>Productos</h2>
    <table class="table table-dark table-striped">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Precio</th>
                <th>Imagen</th>
            </tr>
            {{#each data}}
                <tr>
                    <th>{{this.title}}</th>
                    <th>{{this.price}}</th>
                    <th>{{this.thumbnail}}</th>
                </tr>
            {{/each}}
        </thead>
        <tbody id="productos"></tbody>
    </table>
</div>