@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;700&display=swap');

h1{
    font-family:cursive
}
body {
    width: 60%;
    height: 90%;
    margin: 0 auto;
}
div{
    margin-top: 30px;
}
#container{
    background-color: rgb(181, 223, 249);
    padding: 3rem;
}
       
header{
    background-color: rgb(181, 223, 249);
    font-family:'Dancing Script', cursive;
    font-weight: bold;
    font-size: 30px;
}
.title{
    margin-top: 50px;
    font-family:'Dancing Script', cursive;
    text-align: center;
    font-weight: bold;
} 
.tarjeta{
    margin: 5rem;
    width: 18rem;
}
.contenedor{
    justify-content: center;
    font-size: 2rem;
}